<header class="jk-header">
    <nav class="jk-header__nav navbar navbar-default navbar-fixed-top">
        <div class="jk-header__nav__container">
            <div class="jk-header__nav__container__navbar-header navbar-header">
                <button type="button"
                        class="jk-header__nav__container__navbar-header__navbar-toggle navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#jk-header-collapse"
                        aria-expanded="false">
                    <span class="sr-only">{{ 'jk.header.menu.collapse' | trans }}</span>
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>

                <a class="navbar-brand jk-header__nav__container__navbar-header__link" href="{{ path('homepage') }}">
                    {{ 'jk.header.logo.link.text' | trans }}
                </a>
            </div>

            <div class="collapse navbar-collapse jk-header__nav__container__collapse"
                 id="jk-header-collapse">
                <ul class="nav navbar-nav navbar-right jk-header__nav__container__collapse__list">
                    <li class="jk-header__nav__container__collapse__list__item">
                        <a class="jk-header__nav__container__collapse__list__item__link"
                           href="/"
                           title="{{ 'jk.header.menu.link0.label' | trans }}"/>
                            {{ 'jk.header.menu.link0.text' | trans }}
                        </a>
                    </li>
                    <li class="jk-header__nav__container__collapse__list__item">
                        <a class="jk-header__nav__container__collapse__list__item__link"
                           href="/"
                           title="{{ 'jk.header.menu.link1.label' | trans }}"/>
                            {{ 'jk.header.menu.link1.text' | trans }}
                        </a>
                    </li>
                    <li class="jk-header__nav__container__collapse__list__item">
                        <a class="jk-header__nav__container__collapse__list__item__link"
                           href="/"
                           title="{{ 'jk.header.menu.link2.label' | trans }}"/>
                            {{ 'jk.header.menu.link2.text' | trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>